* {    
    box-sizing: border-box;
}
.wrapper {
        max-width: 900px;
        margin: auto;
        position: relative;
}
p{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: 'Noto Sans JP', sans-serif;
  }
.navigation {
    padding: 77px 0;
}
.main-menu-link {
    color: grey;
}
.main-menu-link:hover {
    color: blue 
}
.top-menu {
    position: relative;
    width: 70%;
    display: block;
    margin: 10px auto;
}
.main-menu-item {
    display: inline-block;
    list-style-type: none;
    margin: 40px;
    width: 0 auto;
}
.description-right {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 420px;
    margin-bottom: 10px; 
    padding-left: 60px;
    
}
.description-left {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 420px;
    margin-bottom: 10px;
}
form {
    text-align: center;

}
.button {
    display: inline-block;
	height: 50px;
    line-height: 50px;
    position: relative;
    border: 1px solid;
    padding: 0 1rem;   
    background: white;
}
