* {    
    box-sizing: border-box;
}
.wrapper {
        max-width: 1200px;
        margin: auto;
    }    
.header {
    width: 100%;
    margin: 0 auto;
}
p{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: 'Noto Sans JP', sans-serif;
}
.navigation {
    padding: 77px 0;
}
.main-menu-link {
    color: grey;
}

.main-menu-link:hover {
    color: blue 
}
.top-menu {
    position: relative;
    width: 60%;
    display: block;
    margin: 77px auto;
}
.main-menu-item {
    display: inline-block;
    list-style-type: none;
    margin: 0 50px;
    width: 0 auto;
}

.description {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 3px);
    margin-bottom: 10px;    
    padding: 0 60px;
    background: #fff;
}
form {
    text-align: center;

}
.button {
    display: inline-block;
	height: 50px;
    line-height: 50px;
    position: relative;
    border: 1px solid;
    padding: 0 1rem;   
    background: white;
}
